header {font-family: "Georgia", serif;text-align: center;background:linear-gradient(90deg,#fff, #B8FCFF); font-size: 30px}


p{background:linear-gradient(90deg,#fff,#23C8E8); font-family: "Papyrus", serif;text-align: center; font-size:20px }
